#carousel img {
    width: 400px;
    height: 100%;
}
#carousel ul {
    position: absolute;
    width: 2000px;
    margin: 0;
    padding: 0;
    left: -800px;
}
#carousel li {
    list-style: none;
    float: left;
}
#carousel {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    width: 400px;
    height: 250px;
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
}
#btn-left,
#btn-right,
#slider-nav {
    padding: 0;
    border: 0;
    z-index: 1;
    position: absolute;
}
#btn-left i,
#btn-right i{
    width: 100%;
    height: 100%;
}

#btn-left {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
#btn-right {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#slider-nav {
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.slider-nav-point {
    margin: 0;
    padding: 0;
    display: inline-block;
}
i{
    padding: 5px;
    color: white;
}